.Nav {
	background: rgba(255,255,255,0);
	border-bottom: 1px solid transparent;
	transition: all 0.1s linear;
	position: fixed;
	z-index: 10;
	padding: 2rem 1rem;
	transition: all .3s ease-in-out;
	width: 100%;

	@media (min-width: 650px) {
		padding: 2rem;
	}
}

.NavScroll {
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #f1f1f1;
	font-size: 1.5rem;
	padding: 1rem;

	* {
		transition: all .2s ease-in-out;
		font-size: 1.5rem !important;
	}

	@media (min-width: 650px) {
		padding: 1rem 2rem;
	}
}