.Search {
	background: #f1f1f1;
	border: 0;
	border-radius: 25px;
	display: block;
	font-size: 16px;	
	margin: 0 auto 3rem;
	padding: 1rem 1.5rem;
	transition: all .2s ease-in-out;
	width: 100%;

	&::placeholder {
		color: #aaa;
	}

	&:focus,
	&:hover {
		outline: none;
	}

	@media (min-width: 650px) {
		max-width: 1024px;
	}
}