.Search {
	background: #f1f1f1;
	border: 0;
	border-radius: 45px;
	display: block;
	font-size: 18px;	
	padding: 1.5rem 2rem;
	transition: all .2s ease-in-out;
	width: 100%;

	&::placeholder {
		color: #aaa;
	}

	&:focus,
	&:hover {
		outline: none;
	}
}

.SearchWrapper {
	margin: 0 1rem;

	@media (min-width: 1024px) {
		max-width: 1024px;
		margin: 0 auto;
	}
}