*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

html,
body {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#__next {
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
em,
li,
input,
textarea,
select {
	font-family: "Nunito", sans-serif;
}

.nav-placeholder {
	height: 5.5rem;
}

.header {
	h1 {
		font-size: 2rem;
		line-height: 1;
		margin: 0;
		font-weight: 900;
	}
}

.MuiTypography-root {
	font-family: "Nunito", sans-serif !important;
}

h2.MuiTypography-root {
	font-weight: 700 !important;
}


/* nunito-regular - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url('../public/nunito-v25-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-regular.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-regular.svg#Nunito') format('svg');
	/* Legacy iOS */
}

/* nunito-500 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	src: url('../public/nunito-v25-latin-500.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-500.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-500.svg#Nunito') format('svg');
	/* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url('../public/nunito-v25-latin-700.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-700.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-700.svg#Nunito') format('svg');
	/* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	src: url('../public/nunito-v25-latin-600.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-600.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-600.svg#Nunito') format('svg');
	/* Legacy iOS */
}

/* nunito-800 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	src: url('../public/nunito-v25-latin-800.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-800.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-800.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-800.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-800.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-800.svg#Nunito') format('svg');
	/* Legacy iOS */
}

/* nunito-900 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 900;
	src: url('../public/nunito-v25-latin-900.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../public/nunito-v25-latin-900.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../public/nunito-v25-latin-900.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../public/nunito-v25-latin-900.woff') format('woff'),
		/* Modern Browsers */
		url('../public/nunito-v25-latin-900.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../public/nunito-v25-latin-900.svg#Nunito') format('svg');
	/* Legacy iOS */
}