*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#__next {
	padding: 5vh;

	@media (max-width: 460px) {
		padding: 2vh;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
em,
li {
	font-family: "Roboto", sans-serif;
}

section {
	margin-bottom: 10rem;
}

[class^="blog_Blog_"]+[class^="blog_Blog_"] {
	padding: 8rem 0 0;
}

.cta {
	color: #666;
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #666;
	margin: 3rem auto;
	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom-color: transparent;
	}
}